# Dependencies
node_modules
package-lock.json

# Git
.git
.gitignore

# Environment variables
.env

# Build output
dist

# Logs
*.log
logs

# IDE
.vscode
.idea

# Docker
.docker
.dockerignore

# OS
.DS_Store
Thumbs.db
